/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	.carousel .carousel-inner .carousel-item img { margin-top: 120px; margin-bottom: 20px; }
.carousel .carousel-inner .carousel-item .slider-info {
	margin-top: 20px;
	margin-bottom: 50px;
	padding-left: 30px;
}
.about-us .about-img   { display: none; }
.our-service .icon img { border:none; }
.our-service p         { margin-bottom: 50px; }
.ser-header img        { display: none; }
.ser-header .info      { text-align: center; }
.scroll-top img , .scroll-top span{ display: none; }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
.carousel .carousel-inner .carousel-item img { margin-top: 120px; margin-bottom: 20px; }
.carousel .carousel-inner .carousel-item .slider-info {
	margin-top: 20px;
	margin-bottom: 50px;
	padding-left: 30px;
}
.about-us .about-img   { display: none; }
.our-service .icon img { border:none; }
.our-service p         { margin-bottom: 50px; }
.ser-header img        { display: none; }
.ser-header .info      { text-align: center; }
.scroll-top img , .scroll-top span{ display: none; }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
.ser-header img   { display: none; }
.ser-header .info { text-align: center; }
.scroll-top img , .scroll-top span{ display: none; }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
 
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }